.content-detail-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content-detail-card {
    width: 90%;
    max-width: 800px; /* Adjust the maximum width as needed */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .content-detail-card h3 {
    margin-top: 0;
  }
  
  .content-detail-card p {
    margin-bottom: 10px;
  }
  
  .content-detail-card .content-image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .content-detail-card {
      width: 95%;
    }
  }
  